body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.app-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(180 197 216);
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 500px;
  height: 600px;
  background-color: #8d8b8b87;
  box-shadow: 0px 0px 25px 8px rgba(66, 68, 90, 1);
  border-radius: 15px;
}
.cover-img {
  background-size: 100% 100%;
  border-radius: 15px;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
.control-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.progress-bar {
  margin: auto;
  width: 80%;
}
.time-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  color: white;
}
.description-container {
  display: flex;
  justify-content: center;
  color: white;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 10px;
  font-size: 1rem;
}
footer {
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
.logo {
  height: 30px;
  width: 60px;
  background-size: 100% 100%;
}
a,
input,
button {
  cursor: pointer;
}
input[type=range] {
  margin: auto;
  height: 4px;
  width: 90%;
  background-color: #C6C6C6;
}
